body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.red {
  color: brown;
  font-weight: 600;
  cursor: pointer;
}

.layers {
  padding: 0.25rem;
  background-color: rgba(0, 0, 255, 0.237);
}
.normal {
  cursor: pointer;
}
.normal:hover {
  font-weight: 600;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  height: 7%;
  background-color: #1c2d41;
  display:flex;
  align-items: center;
  padding: 0 25px;
  justify-content: space-between;
}

.big-logo{
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 25rem;
}

.logo{
  min-width: 45px;
  height: 45px;
  cursor: pointer;
}

.name-box{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.name{
  color:#fff;
  font-weight: 700;
  margin-right: .3rem;
}

.icon{
  color: white;
  border-radius: 50%;
  border: 1px solid white;
  overflow: hidden;
  padding:9px;
  transform: scale(0.7);
  cursor: pointer;
}

.mapContainer {
  height: 93%;
  position: relative;
  z-index: 1;
}

.collapsible-coloum{
  position: absolute;
  top:0rem;
  left:0rem;
  z-index: 2;
  width:20%;
  background-color: #fff;
  height: 100%;
  transition: all 0.1s ease-in;
}

.show-coloum{
  position: absolute;
  top:0rem;
  left:-20%;
  z-index: 2;
  width:20%;
  background-color: #fff;
  height: 100%;
  transition: all 0.1s ease-in;
}

.collapsible-button{
  position: absolute;
  top:2rem;
  left:18.75%;
  z-index: 3;
  background-color:#25407d;
  color: white;
  border-radius: 50%;
  border: 2px solid white;
  overflow: hidden;
  padding:9px;
  transform: scale(0.8);
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.show-button{
  position: absolute;
  top:2rem;
  left:-0.6rem;
  z-index: 2;
  background-color:#25407d;
  color: white;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border: 2px solid white;
  overflow: hidden;
  padding:9px;
  transform: scale(0.8) rotate(180deg);
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.input-form{
  background-color: #d5dbfb;
  padding: 0.75rem;
  margin: 0.5rem;
  border-radius: 2.5%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.input-form-heading{
  font-weight: 20px;
  text-align: left;
  margin: 0;
}

.fill-box{
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d5dbfb;
  padding: 0.25rem 0.75rem;
  margin: 1rem 0.5rem;
  border-radius: 2.5%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search-box{
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d5dbfb;
  padding: 0.75rem;
  margin: 1rem 0.5rem;
  border-radius: 2.5%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.map {
  height: 100%;
}

.custom-mouse-position{
  position: absolute;
  bottom: 0rem;
  right:0rem;
  z-index: 2;
  background-color: #000000a4;
  padding: 0.25rem;
  height: 25px;
  color: #54bc7f;
}

.loader-bg{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.loader{
  position: absolute;
  top: 40%;
  left: 50%;
}

label{
  display: block;
}
.gap {
  margin-top: 1.25rem;
}
.draw-button {
  position: absolute;
  top: 2rem;
  right: 3rem;
  z-index: 2;
  background-color:#25407d;
  color: white;
  border: 2px solid white;
  border-radius: 20%;
  overflow: hidden;
  padding:9px;
  transform: scale(1.2);
  cursor: pointer;
}

.reset-button {
  position: absolute;
  top: 6rem;
  right: 3rem;
  z-index: 2;
  background-color:#25407d;
  color: white;
  border: 2px solid white;
  border-radius: 20%;
  overflow: hidden;
  padding:9px;
  transform: scale(1.2);
  cursor: pointer;
}


.lot-area-box{
  position: absolute;
  bottom: 2.3rem;
  right: 2rem;
  z-index: 2;
  display: flex;
  align-items: center;
  background-color: #000000a4;
  padding: 0rem 0.75rem;
  border-radius: 2.5%;
  height: 50px;
}

.tailing-area-box{
  position: absolute;
  bottom: 5.7rem;
  right: 2rem;
  z-index: 2;
  display: flex;
  align-items: center;
  background-color: #000000a4;
  padding: 0rem 0.75rem;
  border-radius: 2.5%;
  height: 50px;
}

.progress-value{
  position: absolute;
    top:18.75rem;
    left: 45.75rem;
    color: #1f366b; 
}

.login-box{
  display: flex;
  height:100vh;
  width:100%;
}

.login-form{
  background-color: #d5dbfb;
  padding: 2.5rem 0.75rem;
  margin: 0.5rem;
  border-radius: 2.5%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width:25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.custom-zoom {
  top: auto;
  bottom: 20px;
  left: auto;
  right: 20px;
}